@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F4F5F7;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* In your global CSS or Tailwind config */
.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size */
  width: auto;
  transition: all 0.3s ease-in-out;
}
.my-masonry-column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
  transition: all 0.3s ease-in-out;
}

.captioncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 70%;
}

.techinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.nametitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}